*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



img{
    max-width: 100%;
}

.header{
    display: flex;
    padding: 0 30px;
    background-color:antiquewhite;
    width: 100%;
    height: 40px; 
    justify-content: space-between;
  
}


.header ul{
    display: flex;
    list-style: none;
    gap: 16px;
}


.padding{
    padding: 40px;
}

.container{
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
    
}

.bg-blue{
    background-color: cornflowerblue;
    width: 100%;
    height: 350px ;
}


.testo{
    text-align: center;
    padding: 20px;
    font-family:'Times New Roman', Times, serif
}

.col-30{
    width: 30%;
    margin-bottom: 20px;
    border: 2px solid green
  
    
    
}

.col-50{
    width: 50%;
    margin-bottom: 10px;
    padding: 20px;
    border: 2px solid green
   
    
}

.testo-uno{
    text-align: center;
    padding: 20px;
   
}

.flex-gap{
    display: flex;
    gap: 20px;
}




.footer{
    background-color:black;
    width: 100%;
    height: 200px; 
    color: white;
    
    
}


.col-20{
    width: 20%;
    margin-bottom: 20px;
  

}




